body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
}

.facebook-content {
    width: 500px;
    text-align: left;
}

.facebook-logo {
    height: 106px;
    margin-bottom: 20px;
}

.login-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 6px;
}

.login-box button {
    background-color: #1877f2;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 95%;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.login-box .create-account {
    background-color: #42b72a;
}

.login-box a {
    color: #1877f2;
    text-decoration: none;
}

.login-box hr {
    border: none;
    border-bottom: 1px solid #dddfe2;
    margin: 20px 0;
}
